
<div class="card">
  <div class="card-header text-center">
    New Tweet
  </div>
  <div class="card-body">
    <%= render 'form', tweet: @tweet %>
  </div>
</div>

<hr />

<% @tweets.each do |tweet| %>
<div class="card mb-3" style="max-width: 540px;" id="tweet-card">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div>
          <p>
            <%= image_tag tweet.user.avatar, height: 30, width: 30, class: "rounded-circle", id: "comment" %>
            <strong>
              <span><%= tweet.user.username %></span>
            </strong>
          </p>
        </div>
          <p><strong>Comment:</strong> <%= tweet.comment %></p>

          <small>
            <%= tweet.created_at.strftime("%d/%m/%Y às %I:%M") %>
          </small>

          <% if tweet.user.id == current_user.id %>
            <%= button_to "Delete", tweet, method: :delete %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>