<div>
  <div class="row">
    <div class="col-2" style="width: 18rem; margin-left: 20px;">
      <%= render 'tweets/profile' %>
    </div>

    <div class="col-4 text-center">
      <div>
        <% if @user.avatar.persisted? %>
          <%= image_tag @user.avatar, height: 150, width: 150, class: "rounded-circle" %>
        <% end %>
      </div>
      <br>
      <h2><%= @user.username %></h2>
      <p><%= @user.email %></p>

      <% if @user != current_user %>
        <% if current_user.following?(@user) %>
        <div>
          <%= button_to "Unfollow", friendship_path(user_id: @user.id), method: :delete, class: 'btn btn-danger' %>
        </div>
        <% else %>
        <div>
          <%= button_to "Follow", friendships_path(user_id: @user.id), method: :post, class: 'btn btn-success' %>
        </div>
        <% end %>
      <% end %>
      <br>
      <div>
        <strong><p>Followers</p></strong>
        <p> <%= @user.followers.count %> </p>
      </div>
      <div>
        <strong><p>Following</p></strong>
        <p> <%= @user.following.count %> </p>
      </div>
    </div>

    <div class="col-5">
      <h2 class="text-center">Tweets</h2>

      <% @user.tweets.each do |tweet| %>
      <div class="card mb-3" style="max-width: 540px;" id="tweet-card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div>
                <p>
                  <% if tweet.user.avatar.persisted? %>
                  <%= image_tag tweet.user.avatar, height: 30, width: 30, class: "rounded-circle", id: "comment" %>
                  <% end %>

                  <strong>
                    <span><%= tweet.user.username %></span>
                  </strong>
                </p>
              </div>
                <p><strong>Comment:</strong> <%= tweet.comment %></p>

                <small>
                  <%= tweet.created_at.strftime("%d/%m/%Y às %I:%M") %>
                </small>

                <% if tweet.user.id == current_user.id %>
                  <%= button_to tweet, method: :delete ,class: 'btn btn-danger' do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>